/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;                    /* Remove default margin */
    padding: 0;                   /* Remove default padding */
    height: 100%;                 /* Ensure full height */
    width: 100%;                  /* Ensure full width */
    //overflow: hidden;             /* Prevent scrolling */
  }
  
  body {
    background-color: var(--main-bg-color); /* Set the background color */
  }
  